@require 'settings/palette.styl'

.connector-list
    list-style       none
    margin           0 -.7em 2em
    border-radius .5rem
    background rgba(255, 255, 255, .7) // .7 until background image (.95)
    display          flex
    flex-wrap        wrap
    justify-content  flex-start
    padding 1rem 1.25rem

ul.connector-list
    margin-top       60px
    padding          0 20px

// We differenciate the "real" margin from the "used" margin. The "used" margin
// allow to use a little higher value for flex-basis calculation. Firefox
// and Chrome are behaving well but IE11 need it.
$item-real-margin = .7em
$item-margin = .8em

.item-wrapper
    position         relative
    box-sizing       border-box
    border-radius    .5rem
    margin           $item-real-margin
    padding-bottom   1rem
    width 8.75rem
    height 8.75rem
    cursor           pointer
    text-decoration  none
    text-align       center
    transition       .2s ease all
    &:hover
        background-color white
        transform  scale(1.05)
        transition .2s ease all
    &.--add-service
        display flex
        flex-direction column
        justify-content center
        border 2px dashed silver
    .item-header
        margin-bottom .5rem
        border-radius 4px 4px 0 0
        height        4.37em
        display flex
        justify-content center
        align-items flex-end

        .item-icon
            width 3rem
            height 3rem

        .item-layered-item-icon
            position relative
            height 3rem
            width 3rem

            .item-icon
                position absolute
                top 0
                left 0
                height 2.25rem
                width 2.25rem

            .item-layer-icon
                position absolute
                bottom 0
                right 0
                border-radius 1rem
                padding .25rem
                background white
                color coolGrey

    .item-title
        margin-bottom 0
        color black
        font-size .875rem
        font-weight 700
        white-space nowrap
        overflow hidden
        text-overflow ellipsis
    .item-subtitle
        font-size       14px
        padding         0 3em
        width           100%
        overflow        hidden
        margin          0
        color           coolGrey
        box-sizing      border-box
        text-overflow   ellipsis
        white-space     nowrap

    .item-subtitle-error
    .item-subtitle-last-sync
    .item-subtitle-user-error
        font-size .75rem
        color coolGrey
        .icon
            vertical-align bottom
            margin-right .25rem
    .item-subtitle-user-error
        color pomegranate

    .item-subtitle-no-account
        font-size       14px
        font-weight     700
        text-transform  uppercase
        padding         .5rem
        width           auto
        overflow        hidden
        margin          0
        color           dodgerBlue
        box-sizing      border-box
        border-radius   3px
        display         inline-block
        background      rgba(41, 126, 241, .15)
    .item-status-icon
        position absolute
        width    24px
        height   24px
        bottom   1em
        right    1em
    .item-add-service-button
        font-size 16px
        font-weight bold

.col-voting-item
    border      2px dashed alpha(black, .15)
    padding-bottom .5em
    &:hover
        box-shadow  none
    .item-title
        font-size   1em
        font-weight 500

// Dedicated for IE 11 which seems not to take the default 100% into account.
